<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .colorChange{
            background-color: darkgoldenrod;
        }
    </style>
</head>
<body>
    
 <div id="appid">
    <p v-if="isActive>90">
"You have an A"
    </p>

<p v-if="isActive">Maybe</p>  

    <p v-else>No</p>
  </div>

    <script>
     const app = Vue.createApp({
        data(){
            return{
               isActive: 89
            }
        }
     })
    app.mount(appid)
    </script>

</body>
</html>